[submodule "extern/mathplot"]
	path = extern/mathplot
	url = git@github.com:sebsjames/mathplot
[submodule "extern/oces_viewer"]
	path = extern/oces_viewer
	url = git@github.com:sebsjames/oces_viewer
[submodule "extern/craysim"]
	path = extern/craysim
	url = https://github.com/sebsjames/craysim.git
[submodule "extern/tinygltf"]
	path = extern/tinygltf
	url = git@github.com:sebsjames/tinygltf
[submodule "extern/maths"]
	path = extern/maths
	url = git@github.com:sebsjames/maths
