# Linguist language identification tweaks. .h is C++ here
*.h                               linguist-language=C++
*.cppm                            linguist-language=C++
*.eye                             linguist-language=text
